<!DOCTYPE html>
<html>

<head>
    <meta charset='UTF-8'>
    <title>BancaComics | Sua central de tudo relacionado à Marvel</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="home.css">
    <link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Barlow Condensed' rel='stylesheet'>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
        <script src="../../Repository/ComicsRepository.js"></script>
        <scrpt src="../../Controller/ComicsController.js"></scrpt>
        <script src="../../Models/Comic.js"> </script>
        <script src="../../Controller/authController.js"></script>
        <script src="../../Controller/ForumController.js"></script>
        <script src="../../Controller/ProfileController.js"></script>
        <script src="../../Controller/SearchImg.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height: 65px;">
        <div class="container-fluid">
            <a class="navbar-brand" href="../Home/index.html"><img src="https://raw.githubusercontent.com/ICEI-PUC-Minas-PBR-SI/pbr-si-ads-2023-2-p1-tiaw-g8-bancacomics/develop/src/Views/Home/imagens/BancaComics.png" width="150" height="35"
                    class="d-inline-block align-top" alt="BancaComics"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../Forum/Forum.html">Forum</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Herois
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Filmes</a></li>
                            <li><a class="dropdown-item" href="#">HQ'S</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Autores</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button id="teste" class="btn btn-outline-success" type="submit">Buscar</button>
                </form>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://i.stack.imgur.com/34AD2.jpg" alt="FotoDePerfil" width="30" height="30" id="pfp-user" style="display: block; margin-right: 90px;">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" id="perfilLink">Perfil</a></li>
                        <li>
                            <hr class="dropdown-divider" id="some">
                        </li>
                        <li><a class="dropdown-item" id="sairBtn">Sair</a></li>
                    </ul>
                </li>
            </div>
        </div>
    </nav>

    <div class="d-flex justify-content-center my-5">
        <div class="w-75 p-4" id="bancacomics">
            <h1 id="bancacomics-text">BANCA COMICS</h1>
        </div>
    </div>
    <div class="d-flex justify-content-center my-5">
        <h1 id="subtitle">SUA CENTRAL DE TUDO RELACIONADO À MARVEL</h1>
    </div>

    <div class="container" id="content-grid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3 my-2 d-flex justify-content-center" id="Listar-hq">
                <div>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOSkQSuy8WW2dzsb2I6xbhULWCqdTyI-QNCA&usqp=CAU"
                        width="250" height="180" alt="HQ">
                    <h1 class="mt-4"><a href="../HQs/index.html"> HQs </a> </h1>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 my-2 d-flex justify-content-center">
                <div>
                    <img src="https://www.hollywoodreporter.com/wp-content/uploads/2017/08/iron_man_2008_5.jpg?w=1296&h=730&crop=1"
                        width="250" height="180" alt="Filmes">
                    <h1 class="mt-4">Filmes</h1>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 my-2 d-flex justify-content-center">
                <div>
                    <img src="https://classic.exame.com/wp-content/uploads/2023/07/loki-tom-hiddleston-001.webp?w=1024"
                        width="250" height="180" alt="Séries">
                    <h1 class="mt-4"> <a href="../Series/index.html"> Séries </a> </h1>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 my-2 d-flex justify-content-center">
                <div>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSISAiTWdwR61zVPR8t7xVM1t8h6IuYO82jT94BpfyDyyZJsIiInN3B9pPA2TqFcmpKyyQ&usqp=CAU"
                        width="250" height="180" alt="Jogos">
                    <h1 class="mt-4">Jogos</h1>
                </div>
            </div>
        
            <div class="col-12 col-md-6 col-lg-3 my-2 d-flex justify-content-center">
                <div>
                    <img src="https://images.thedirect.com/media/article_full/stan-lee-marvel-mcu-avengers.jpg"
                        width="250" height="180" alt="Pessoas">
                        <h1 class="mt-4"> <a href="../Autores/Autores.html"> Pessoas </a> </h1>

                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 my-2 d-flex justify-content-center">
                <div>
                    <img src="https://res.cloudinary.com/jerrick/image/upload/d_642250b563292b35f27461a7.png,f_jpg,q_auto,w_720/av1wwmp4vnbcudxjv6dt.gif"
                        width="250" height="180" alt="Notícias">
                    <h1 class="mt-4">Notícias</h1>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 my-2 d-flex justify-content-center">
                <div>
                    <img src="https://www.hypeness.com.br/1/2019/01/Homem-aranha-banco_horizontal.jpg" width="250"
                        height="180" alt="Fórum">
                    <h1 class="mt-4"><a href="../Forum/Forum.html">Fórum</a></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center my-5">
        <h1 id="subtitle">HEROIS MARVEL</h1>
    </div>
    <div class="container">
        <div class="row" id="content-herois">
            <div class="col-12 col-md-6 col-lg-3 my-2 d-flex justify-content-center">
                <div>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOSkQSuy8WW2dzsb2I6xbhULWCqdTyI-QNCA&usqp=CAU"
                        width="250" height="180" alt="HQ">
                    <h1 class="mt-4">HQs</h1>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 my-2 d-flex justify-content-center">
                <div>
                    <img src="https://www.hollywoodreporter.com/wp-content/uploads/2017/08/iron_man_2008_5.jpg?w=1296&h=730&crop=1"
                        width="250" height="180" alt="Filmes">
                    <h1 class="mt-4">Filmes</h1>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 my-2 d-flex justify-content-center">
                <div>
                    <img src="https://classic.exame.com/wp-content/uploads/2023/07/loki-tom-hiddleston-001.webp?w=1024"
                        width="250" height="180" alt="Séries">
                    <h1 class="mt-4">Séries</h1>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 my-2 d-flex justify-content-center">
                <div>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSISAiTWdwR61zVPR8t7xVM1t8h6IuYO82jT94BpfyDyyZJsIiInN3B9pPA2TqFcmpKyyQ&usqp=CAU"
                        width="250" height="180" alt="Jogos">
                    <h1 class="mt-4">Jogos</h1>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 my-2 d-flex justify-content-center">
                <div>
                    <img src="https://img.olhardigital.com.br/wp-content/uploads/2023/07/wolverine.jpg" width="250"
                        height="180" alt="Personagens">
                    <h1 class="mt-4">Personagens</h1>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 my-2 d-flex justify-content-center">
                <div>
                    <img src="https://images.thedirect.com/media/article_full/stan-lee-marvel-mcu-avengers.jpg"
                        width="250" height="180" alt="Pessoas">
                    <h1 class="mt-4"></h1>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 my-2 d-flex justify-content-center">
                <div>
                    <img src="https://res.cloudinary.com/jerrick/image/upload/d_642250b563292b35f27461a7.png,f_jpg,q_auto,w_720/av1wwmp4vnbcudxjv6dt.gif"
                        width="250" height="180" alt="Notícias">
                    <h1 class="mt-4">Notícias</h1>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 my-2 d-flex justify-content-center">
                <div>
                    <img src="https://www.hypeness.com.br/1/2019/01/Homem-aranha-banco_horizontal.jpg" width="250"
                        height="180" alt="Fórum">
                    <h1 class="mt-4">Fórum</h1>
                </div>
            </div>
        </div>
    </div>


    <div class="d-flex justify-content-center my-5">
        <div class="w-50 p-4" id="title-marvel">
            <h1 id="title-marvel-text">DESTAQUES</h1>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <div id="carouselExampleIndicators" class="carousel slide w-75" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner" id="carrosel">
                <div class="carousel-item active">
                    <img src="https://cdn.whats-on-netflix.com/wp-content/uploads/2023/05/06130209/spider-man-across-the-spider-verse-netflix-release.jpg"
                        height="600" class="d-block w-100" alt="Homem-Aranha: Através do Aranhaverso">
                </div>
                <div class="carousel-item">
                    <img src="https://assetsio.reedpopcdn.com/spider-man_maAO4eU.webp?width=1200&height=1200&fit=bounds&quality=70&format=jpg&auto=webp"
                        height="600" class="d-block w-100" alt="Spider-Man 2">
                </div>
                <div class="carousel-item">
                    <img src="https://froyonion.sgp1.digitaloceanspaces.com/images/blogdetail/bda496b95c814eecaec4bada73e5cbd38cb26171.jpg"
                        height="600" class="d-block w-100" alt="Guardiões da Galáxia Vol.3">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="container mt-5 mb-2">
        <div class="row mb-5">
            <div class="col-lg-2 col-12 mb-4">
                <img src="https://i.stack.imgur.com/34AD2.jpg" width="110" height="110" alt="Username1" id="pfp-user">
            </div>
            <div class="col-lg-10 col-12 mb-5">
                <div class="form-group">
                    <textarea class="form-control" placeholder=" Escreva um comentário..." rows="8"
                        style="resize:none"></textarea>
                </div>
            </div>
            <div class="col-lg-2 col-12 mb-4">
                <img src="https://i.pinimg.com/1200x/0c/e9/12/0ce9126dc84208b92eb761c9f7a02c6b.jpg" width="110"
                    height="110" alt="Username2" id="pfp-user">
            </div>
            <div class="col-lg-10 col-12 p-4" id="comment">
                <div class="row mb-4">
                    <div class="col">
                        <b>DareDevilFanReal1999</b>
                    </div>
                    <div class="col" style="text-align: end;">
                        <b>17:46 13/10/2023</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Gostava mais quando a Marvel não fazia filme
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-8">
                    <img class="mt-4" src="imagens/BancaComics.png" alt="Banca Comics" width="250">
                </div>
                <div class="col-12 col-md-6 col-lg-4" id="creditos">
                    <li>
                        <ul>Marcos Vinicius Gomes Santana</ul>
                        <ul>Andoni Rodríguez Alves</ul>
                        <ul>Guilherme Augusto dos Santos</ul>
                        <ul>Rodrigo Sergio Alves da Silva</ul>
                        <ul>Pedro Cesar de Barros</ul>
                    </li>
                </div>
            </div>
        </div>
    </footer>
    <script src="../../Repository/HeroiRepository.js"></script>
    <script src="../../Controller/HeroiController.js"></script>

    <script src="../../Controller/AutoresController.js"></script>

    <script src="../../Controller/ComicsController.js"></script>
    <script src="../../Models/Heroi.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
    <script src="../../../node_modules/blueimp-md5/js/md5.js"></script>


</body>

</html>