<html>

<head>
  <meta charset="utf-8" />
  <title>Banca Comics - Cadastro</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css.css">
  <script src="../../Models/User.js"></script>
  <script src="../../Controller/CadastroController.js"></script>
</head>

<body class="custom-background">
  <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="row" style="height: 500px; width: 500px;">
      <div class="card-login" style="height: 100%; width: 100%;">
        <div class="card border-0 custom-card">

          <div class="card-body">
            <form method="post">
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label for="nome">Nome Usuario</label>
                    <input name="nome" type="text" class="form-control red-input" placeholder="">
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input name="email" type="email" class="form-control red-input" placeholder="">
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <label for="senha">Senha</label>
                    <input id="senha" name="senha" type="password" class="form-control red-input" placeholder="">
                  </div>
                </div>
                <div class="col-4">
                  <button class="btn custom-button text-center" type="submit">Criar</button>
                </div>
              </div>
          </div>
          

          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>

</html>